<!DOCTYPE html>
<html lang="ko">
{% include head.html %}

<body>
  <!--[if lt IE 10]>
      <div class="alert-danger" role="alert">사용중인 인터넷 브라우저를 최신버전으로 업그레이드하거나 새로 설치해주세요. <a target="_blank" class="alert-link" href="http://browsehappy.com">최신브라우저 설치하기</a></div>
  <![endif]-->
  <input id="nm-switch" type="hidden" value="{{ site.nightMode }}">
  <div class="visible">
    {{ content }}
  </div>
  <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <script src="/assets/js/prism.js"></script>
  <script src="/assets/js/index.min.js"></script>

  <script type='text/javascript'>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', function () {
        console.log(window.location.origin)
        const origin = window.location.origin;
        navigator.serviceWorker.register(origin + '/sw.js');
      });
    }
  </script>
</body>

</html>